<nav class="alignCentre">
    <a href="/">Home</a> |
    <a href="/breeds">Breeds</a> |
    <a href="/facts">Facts</a> |
    <% if(!!username) { %>
    <a href="/logout">Logout</a> |
    <% } else { %>
    <a href="/login">Login</a> |
    <% } %>    
    <a href="/register">Register</a>

    <% if(!!username) { %>
    &nbsp;| <span><strong>Welcome <%= username %></strong></span>
    <% } %>
</nav>